body 
{
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}


.profile-container {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    background-color: #77a0f8;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    padding: 20px;
}


.profile-header {
    text-align: center;
    margin-bottom: 30px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.name {
    font-size: 2rem;
    color: #000000;
    margin: 0;
}

.profession {
    font-size: 1.2rem;
    color: #000000;
}


.profile-body {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.about {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

.skills {
    list-style-type: none;
    padding: 0;
}

.skills li {
    font-size: 1rem;
    color: #444;
    margin: 5px 0;
}


.profile-footer {
    text-align: center;
}

.social-link {
    font-size: 1.1rem;
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;

}

.social-link:hover {
    text-decoration: underline;
}